
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 16px;
}

html, body,
h1, h2, h3, h4, h5, h6, p,
ol, ul, li, dl, dt, dd,
blockquote, figure, fieldset, legend, textarea, pre {
    margin: 0;
    padding: 0;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

button, input, select, textarea {
    margin: 0;
}

